@import '~/node_modules/reseter.css/css/reseter.css';

body {
  overflow: hidden;
}

.graph,
.graph1 {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  margin: 2vw;
}

.graph2 {
  position: absolute;
  right: 0;
  top: 310px;
  width: 30%;
  margin: 2vw;
}

.scenario-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .scenario {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;

    .fade-in {
      transition: opacity 0.5s;
      opacity: 1;
    }

    .fade-out {
      transition: opacity 0.5s;
      opacity: 0;
    }

    .scene {
    }

    .overlay,
    .label {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .label {
      margin: 5px;
    }
  }
}

.invisible {
  visibility: hidden;
}

.display-none {
  display: none;
}

#sunrays-in {
  stroke-linecap: round;
  stroke-dasharray: 10;
  animation: sunrays 500ms infinite;
  animation-timing-function: linear;
}

@keyframes sunrays {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}
