@use '~@fontsource/share-tech-mono/scss/mixins' as ShareTechMono;

@import '~/node_modules/reseter.css/css/reseter.css';

@include ShareTechMono.fontFace(
  $weight: 400,
  $display: fallback,
  $fontDir: '~/node_modules/@fontsource/share-tech-mono/files'
);

body {
  font-family: Share Tech Mono, monospace;
  overflow: hidden;
}

.graph,
.graph1 {
  position: absolute;
  right: 0;
  top: 83px;
  margin-right: 25px;
}

.graph2 {
  position: absolute;
  right: 0;
  top: 270px;
  margin-right: 25px;
}

#aspect-ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: calc(600 / 1024 * 100%);
  position: relative;
}

@mixin fill-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.scenario-container {
  @include fill-box;

  > .scenario {
    @include fill-box;

    .fade-in {
      transition: opacity 0.5s;
      opacity: 1;
    }

    .fade-out {
      transition: opacity 0.5s;
      opacity: 0;
    }

    .scene,
    .overlay,
    .label {
      @include fill-box;
    }

    .label {
      margin: 5px;
    }
  }
}

.invisible {
  visibility: hidden;
}

.display-none {
  display: none;
}

#sunrays-in {
  stroke-linecap: round;
  stroke-dasharray: 10;
  animation: sunrays 500ms infinite;
  animation-timing-function: linear;
}

@keyframes sunrays {
  from {
    stroke-dashoffset: 20;
  }
  to {
    stroke-dashoffset: 0;
  }
}

#sun-in-between > * {
  animation: rotate 20000ms infinite;
  animation-timing-function: linear;
}

#sun-in-between > *:nth-child(odd) {
  animation-direction: reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
